.atas{
    border: 1px solid black;
    width: 1000px;
    height: 200px;
    margin: auto;
    background-color: green;
}

.row{
    width: 1000px;
    height: 200px;
    margin: 20px auto 0;
}

.colom{
    height: 200px;
    border: 1px solid pink;
}

.kuning{
    width: 200px;
    float: left;
    background-color: yellow;
}

.merah{
    width: 700px;
    float: right;
    background-color: red;
}

.biru{
    width: 700px;
    float: right;
    background-color: blue;
}